---
---

@import 'variables';
@import 'bootstrap/bootstrap';
@import 'material-icons/material-icons.css';
@import 'fullpage/fullpage.min';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body { 
    @extend .bg-light;
}

#rotate-overlay {
    @extend 
    .justify-content-center,
    .align-items-center,
    .w-100,
    .h-100;    
    display: none;
    background-color: rgba($dark, .99);
    position        : absolute;
    z-index         : 2000;              
}

$constrast : 60%;
#rotate-overlay i {
    background-color        : darken($dark, $constrast);
    background              : radial-gradient(circle, rgba($light,1) 50%, rgba($dark,.5) 85%);       
    color                   : transparent;
    font-size               : 200px;
    text-shadow             : 0px 2px 3px rgba($light, 0.5);                                
    -webkit-background-clip : text;
    -moz-background-clip    : text;
    background-clip         : text;                                     
    -webkit-text-fill-color : transparent;            
}                 

.portrait-message {
    @extend .d-flex,
    .flex-column,
    .text-center;
    color: $white;
}

.slide {
    @extend     
    .container-fluid;
}

.fp-tableCell {
    @extend     
    .d-flex,
    .justify-content-center,
    .align-items-center;    
}

.container {
    @extend 
    .mw-100,.p-0,
    .d-flex,
    .justify-content-center,
    .flex-column;
    height:inherit;
}

.images {
    @extend     
    .rounded,    
    .flex-nowrap,
    .align-items-center,
    .align-self-center,
    .align-self-stretch,
    .row, .p-0, .m-0;        
    border-radius: $border-radius !important;    
    width: auto;     
    overflow     : hidden;    
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2),
                inset 0px 0px 10px rgba(0,0,0,0.6);
    max-height: 80%;
    align-items: center; 
}

picture {
    @extend         
    .col,
    .p-0;            
    z-index: -2;
}

img {
    @extend         
    .img-fluid;    
    width: 100%;
    height: auto;    
}

.header {
    @extend     
    .mt-2, .p-0,
    .d-flex,
    .flex-row,
    .justify-content-between,
    .align-items-end;
}

.contact-button {
    @extend 
    .btn,
    .border-0,    
    .p-0;    
}

.contact {
    @extend .p-0,
    .font-weight-light;
    font-size: 1.75rem;
}

.title {
    @extend
    .h1,      
    .pl-0,
    .d-flex,    
    .text-dark;  
    font-family: 'DM Serif Display', serif;        
}

.img-footer {
    @extend
    .mt-1,
    .pl-0, .pr-0,
    .d-flex,
    .flex-row,       
    .justify-content-between;            
}

.caption {
    @extend         
    .pr-0,    
    .font-weight-light;
    font-size: 1rem;;
}

.like-button {
    @extend
    .btn,
    .border-0,    
    .p-0;
}

.like {
    @extend
    .p-0,
    .font-weight-light;
    font-size: 1.75rem;
    -webkit-text-stroke: 0.2px $light;
   
}

.yes-like {
    color: $red;
}


.btn-arrow {
    top: 50%;
    margin-top: -2rem;
    position: absolute;
    z-index: 4;
    color: $light;
    border-color:transparent;
    background: transparent;
    border-width: 0px;
    width: fit-content;
    height: fit-content;
    background-attachment: red;
    padding: 0px;
}

.btn-arrow.fp-next {
    right: 1rem;
}

.fp-controlArrow.fp-prev {
    width: auto;    
}

.btn-arrow i {
    pointer-events: none;
    font-size: 4rem;
}

.fp-controlArrow {
   @extend .border-0;
}