<!doctype html>
<html lang={{ site.lang | default: "en-US" }}>
{% seo %}

<head>
  {% include head.html %}
</head>

<body>
  
  {% include overlay.html %}

  <div id="fullpage">
    {% for row in site.data.rows %}
      <div id="{{ row.title | slugify }}" class="section" data-percentage="80" data-centered="true">
        {% for slide in row.slides %}
          <div id="{{ slide.caption | slugify }}" class="slide">
            <div class="container">     
              <div class="header">
                <div class="title">{{ slide.title}}</div>     
                <div class="contact-buttons">      
                  <div class="instagram-button"><i class="instagram fab fa-instagram"></i></div>
                  <div class="linkedin-button"><i class="linkedin fab fa-linkedin"></i></div>
                </div>
              </div> 
              {% assign slide_id = "" %}
              <div class="images">              
                {% for img in slide.images %}                                                             
                  {% assign slide_id = slide_id | append: img.image %}
                  {% assign class = img.class %}
                  {% assign path = 'assets/img/' | append: img.image %}
                  {% assign alt = img.title | append: " - " | append: page.author %}                  
                  {% responsive_image_block %}
                    path: {{ path }}
                    alt: {{ alt }}
                    class: {{ class }}
                  {% endresponsive_image_block %}
                {% endfor %}                           
              </div>        
              <div class="img-footer">                
                {% assign like_id = slide_id | slugify %}
                {% include like.html like_id = like_id %}        
                <div class="caption">{{ slide.caption}}</div>
              </div>                   
            </div>                      
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  {% include scripts.html %}
</body>

</html>